#columns1 {
  column-width: 100px;
  float: left;
}

#columns2 {
  column-width: 100px;
  float: left;
}

h1{
    color: red;
}

#wrapperDiv{
    margin: auto;
    width: 50%;
    padding-left: 335px;
    font-size: 20px;
}


